<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Footer Start -->
<div
        class="container-fluid bg-dark footer mt-5 pt-5 wow fadeIn"
        data-wow-delay="0.1s"
>
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <a href=""
                ><img src="img/Logo_HungThinh-04.png" alt="" class="logo-img"
                /></a>
                <p>
                    Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat
                    ipsum et lorem et sit, sed stet lorem sit clita
                </p>
                <div class="d-flex pt-2">
                    <a
                            class="btn btn-square btn-outline-light rounded-circle me-1"
                            href=""
                    ><i class="fab fa-twitter"></i
                    ></a>
                    <a
                            class="btn btn-square btn-outline-light rounded-circle me-1"
                            href=""
                    ><i class="fab fa-facebook-f"></i
                    ></a>
                    <a
                            class="btn btn-square btn-outline-light rounded-circle me-1"
                            href=""
                    ><i class="fab fa-youtube"></i
                    ></a>
                    <a
                            class="btn btn-square btn-outline-light rounded-circle me-1"
                            href=""
                    ><i class="fab fa-tiktok"></i
                    ></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Địa chỉ:</h4>
                <p>
                    <i class="fa fa-map-marker-alt me-3"></i>237 Quang Trung, Quận Gò
                    Vấp, TP HCM
                </p>
                <p><i class="fa fa-phone-alt me-3"></i>0337.16.76.16</p>
                <p><i class="fa fa-envelope me-3"></i>info@hungthinhst.com.vn</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Liên kết nhanh</h4>
                <a class="btn btn-link" href="">Giới thiệu</a>
                <a class="btn btn-link" href="">Liên hệ</a>
                <a class="btn btn-link" href="">Dịch vụ của chúng tôi</a>
                <a class="btn btn-link" href="">Điều khoản & Điều kiện</a>
                <a class="btn btn-link" href="">Hỗ trợ</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Tư vấn & Hỗ trợ</h4>
                <p>0337.16.76.16</p>
                <div class="position-relative mx-auto" style="max-width: 400px">
                    <input
                            class="form-control bg-transparent w-100 py-3 ps-4 pe-5"
                            type="text"
                            placeholder="Nhập email"
                    />
                    <button
                            type="button"
                            class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2"
                    >
                        SignUp
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid copyright">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    &copy; <a href="#">Hưng Thịnh Tech</a>, All Rights Reserved.
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
</body>
</html>