<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Order History</title>
<link rel="stylesheet" th:href="@{/CSS/header.css}">
<link rel="stylesheet" th:href="@{/CSS/footer.css}">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<style> /* ... your styles ...*/
</style>

</head>
<body>
	<div th:insert="~{frame/header :: header}"></div>
	<div style="margin-bottom: 250px" class="container">
		<h1>Order History</h1>

		<div th:if="${orderDetails.isEmpty()}">
			<p>No orders found.</p>
		</div>

		<div th:unless="${orderDetails.isEmpty()}">
			<table class="table">
				<thead>
					<tr>
						<th>Order ID</th>
						<th>Product Name</th>
						<th>Size</th>
						<th>Quantity</th>
						<th>Price</th>
						<th>Order Date</th>
						<th>Details</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="orderDetail : ${orderDetails}">
						<td th:text="${orderDetail.order.OrderID}"></td>
						<td th:text="${orderDetail.product.productName}"></td>
						 <td th:text="${orderDetail.size.sizeName}"></td>
						<td th:text="${orderDetail.Quantity}"></td>
						<td
							th:text="${#numbers.formatDecimal(orderDetail.Price,0,'COMMA',0,'POINT')+ ' VNĐ'}"></td>
						<td
							th:text="${#dates.format(orderDetail.order.OrderDate, 'dd-MM-yyyy')}"></td>
						<td><a  class="btn btn-primary" 
							th:href="@{/order-history/{orderId}(orderId=${orderDetail.order.OrderID})}">Xem
								chi tiết</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div th:insert="~{frame/footer :: footer}"></div>

</body>
</html>